{% extends 'base-posts.html' %}

{% block blog_header %}
	<div class="blog-header">
		<h2 class="blog-post-title">Update post</h2>
	</div>
{% endblock blog_header %}

{% block main %}
	<form method="POST">
	  <div class="form-group">
		<label for="title">Post Title</label>
		<input type="text" class="form-control" id="title" name="title" value="{{ post.title }}">
	  </div>
	  <div class="form-group">
		<label for="author">Author</label>
		<input type="text" class="form-control" id="author" name="author" value="{{ post.author }}">
	  </div>
	  <div class="form-group">
		<label for="content">Content</label>
		<textarea class="form-control" id="content" name="content" rows="10">{{ post.content }}</textarea>
	  </div>
	  <button type="submit" class="btn btn-success">Update</button>
	</form>	
{% endblock main %}
