{% extends 'layout.html' %}

{% block head %}	
	<title>Add Posts App</title>
{% endblock head %}
{% block body %}
	<div class="container">
		<h1>Add a new post</h1>
		<form method="POST">
			<label for="title">Post Title</label><br>
			<input type="text" id="title" name="title"><br>
			<label for="title">Author</label><br>
			<input type="text" id="author" name="author"><br>
			<label for="content">Post Content</label><br>
			<textarea id="content" name="content" rows="7" cols="50">Post content here...</textarea><br>
			<button class="addPosts" type="submit"><h4>Add post</h4></button>
		</form>
	</div>
	<div class="container"><h5><a href="{{ url_for('all_posts') }}">Back home</a></h5></div>
{% endblock body %}
